@model PagedList.IPagedList<LUSSIS.Models.AdjVoucher>
@using PagedList.Mvc;

<div id="stockAdjHistory">
    <table class="table table-striped table-hover tablesorter" id="myTable">
        <thead>
        <tr class="table-active">
            <th>
                Create Date
            </th>
            <th>
                Employee
            </th>
            <th>
                Item
            </th>
            <th>
                Quantity
            </th>
            <th>
                Reason
            </th>
            <th>
                Status
            </th>
            <th>
                Remark
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate, "Date of creation")
                    @Html.HiddenFor(modelItem => item.AdjVoucherId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestEmployee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stationery.Description, "Item")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity, "Quantity")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason, "Reason")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status, "Status")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark, "Approval remark")
                </td>
            </tr>
        }
        </tbody>
    </table>


    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("History", new {page, currentFilter = ViewBag.CurrentFilter}))

</div>

@*Authors: Koh Meng Guan*@