@model IEnumerable<LUSSIS.Models.AdjVoucher>
@{
    ViewBag.Title = "Pending Adjustments";
}

<br/>
<h2>Pending Stock Adjustment</h2>
<hr/>

@if (!@Model.Any() || @Model == null)
{
    <div class="alert alert-dismissible alert-info">
        <br/>
        <strong>There is no pending stock adjustment at the moment</strong> <br/> <br/>
    </div>
}
else
{
    <div class="alert alert-danger alert-dismissable fade show" id="showError" style="display: none;">Please select one checkbox</div>

    <table class="table table-striped table-hover">
        <tr class="table-active">
            <th>
                <label class="btn" data-toggle="checkbox">
                    <input type="checkbox" id="all" onclick="onClickFunction()"/>
                </label>
            </th>

            <th>
                @Html.DisplayName("Create Date")
            </th>

            <th>
                @Html.DisplayName("Description")
            </th>

            <th>
                @Html.DisplayName("Quantity")
            </th>
            <th>
                @Html.DisplayName("Reason")
            </th>
            <th></th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <label class="btn" data-toggle="checkbox">
                        <input class="chk" id=@item.AdjVoucherId value="@item.AdjVoucherId" type="checkbox" onclick="onClickFunction()"/>
                    </label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stationery.Description)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td></td>
            </tr>
        }

    </table>

    <div class="text-right">
        <a href="#" class="btn btn-success btn-lg" onclick="approve(getCheckList())">Approve Selection</a>
        <a href="#" class="btn btn-danger btn-lg" onclick="reject(getCheckList())">Reject Selection</a>
    </div>


    <div class="modal" id="myApproveModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ApprovalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="myApproveModalBodyDiv">

                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script>
        function onClickFunction() {
            var checkBox = document.getElementById("all");

            if (checkBox.checked === true) {

                $('.chk').attr('checked', true);
            } else {
                $('.chk').attr('checked', false);
            }
        }

        function getCheckList() {
            var chkArray = [];
            $(".chk:checked").each(function() {
                chkArray.push($(this).val());

            });

            return chkArray.join(',');
        }
    </script>

    <script>
        var approve = function(checkList) {
            if (checkList.length < 1) {
                $("#showError").show();
            } else {
                $("#showError").hide();
                document.getElementById("ApprovalTitle").textContent = "Approve";
                var url = "@Url.Content("~/")StockAdjustment/ApproveReject?list=" + checkList + "&status=approved";

                $("#myApproveModalBodyDiv").load(url,
                    function() {
                        $("#myApproveModal").modal("show");
                    });
            }
        }

        var reject = function(checkList) {
            if (checkList.length < 1) {
                $("#showError").show();

            } else {
                $("#showError").hide();
                document.getElementById("ApprovalTitle").textContent = "Reject";
                var url = "@Url.Content("~/")StockAdjustment/ApproveReject?list=" + checkList + "&Status=rejected";

                $("#myApproveModalBodyDiv").load(url,
                    function() {
                        $("#myApproveModal").modal("show");
                    });
            }

        }
    </script>
}

@*Authors: May Zin Ko*@