@model LUSSIS.Models.Stationery

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Stationery</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReorderLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReorderQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReorderQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitOfMeasure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitOfMeasure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BinNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableQty)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"/> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

@*Authors: Koh Meng Guan*@