@{
    ViewBag.Title = "Details";
}

<h2>Stationery Details</h2>
<hr/>
@{ int balance = ViewBag.InitBal; }
<div>
    <div class="row">
        <div class="card col-lg-4 border-dark">
            <div class="card-body">
                <div class="form-group">
                    <label class="control-label col-md-12">
                        <strong>Stationery Name</strong>
                    </label>
                    <div class="col-md-12">
                        <input class="form-control" type="text" value="(@ViewBag.Stationery.ItemNum) @ViewBag.Stationery.Description" disabled name="PoNum" id="PoNum"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">
                        <strong>Category</strong>
                    </label>
                    <div class="col-md-12">
                        <input class="form-control" type="text" value="@ViewBag.Stationery.Category.CategoryName" disabled name="PoNum" id="PoNum"/>
                    </div>
                </div>
                <br/>
                <div class="row ml-3">
                    <div>@Html.ActionLink("Edit", "Edit", new {id = ViewBag.Stationery.ItemNum}, new {@class = "btn btn-warning d-inline mr-2"})</div>
                    <div>@Html.ActionLink("Stock Adjustment", "CreateAdjustment", "StockAdjustment", new {id = ViewBag.Stationery.ItemNum}, new {@class = "btn btn-primary d-inline mr-2"})</div>
                    <div>@Html.ActionLink("Back", "Index", null, new {@class = "btn btn-secondary d-inline"})</div>
                </div>
            </div>
        </div>
        <div class="card col-lg-4 border-dark">
            <div class="card-body">
                <div class="form-group">
                    <label class="control-label col-md-12">
                        <strong>1st Supplier</strong>
                    </label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" value="@ViewBag.Supplier1" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">
                        <strong>2nd Supplier</strong>
                    </label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" value="@ViewBag.Supplier2" disabled/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-12">
                        <strong>3rd Supplier</strong>
                    </label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" value="@ViewBag.Supplier3" disabled/>
                    </div>
                </div>

            </div>
        </div>
        <div class="card col-lg-4 border-dark">
            <div class="card-body">
                <div class="form-group">
                    <label class="control-label col-md-12">
                        <strong>Reorder Level</strong>
                    </label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" value="@ViewBag.Stationery.ReorderLevel" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">
                        <strong>Reorder Quantity</strong>
                    </label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" value="@ViewBag.Stationery.ReorderQty" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">
                        <strong>Current Quantity</strong>
                    </label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" value="@ViewBag.Stationery.CurrentQty" disabled/>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br/><br/>
<div class="row">
    <div class="col-md-12 form-inline">
        <h4>Transaction History</h4>
        <span class="col-1"></span>
        <span class="control-label">From Date </span>
        <input type="date" class="form-control" id="from_date"/>
        <span class="col-1"></span>
        <span class="control-label">To Date </span>
        <input type="date" class="form-control" id="to_date"/>
        <span class="col-1"></span>
        <button class="btn btn-success" onclick="filterTable()">Filter</button>
    </div>

</div>
<br/>
<table class="table">
    <tr>
        <th>Date</th>
        <th>Transaction type</th>
        <th>Dept/Supplier</th>
        <th>Quantity changed</th>
        <th>Balance</th>
    </tr>


    @foreach (var tx in ViewBag.StationeryTxList)
    {
        balance += tx.Qty;
        <tr>
            <td class="row_date">@tx.Date.ToString("dd/MM/yyyy")</td>
            <td>@tx.Transtype</td>
            <td>@tx.Remarks</td>
            <td>@tx.Qty</td>
            <td>@balance</td>
        </tr>
    }
</table>


<script>

    function filterTable() {
        var d1 = $('#from_date').val().split('-');
        var d2 = $('#to_date').val().split('-');
        var fromDate = new Date(d1[1] + "/" + d1[2] + "/" + d1[0]);
        var toDate = new Date(d2[1] + "/" + d2[2] + "/" + d2[0]);
        $('tr').each(function (i, obj) {
            $(obj).show();
            var htmlDate = $(obj).find('.row_date').html();
            if (typeof htmlDate != "undefined") {
                var splitBy = htmlDate.substring(2, 3);
                var d3 = htmlDate.split(splitBy);
                var thisDate = new Date(d3[1] + "/" + d3[0] + "/" + d3[2]);
                if (thisDate < fromDate || thisDate > toDate) {
                    $(obj).hide();
                }
            }
        });
    }
</script>

@*Authors: Koh Meng Guan*@