<div class="dropdown nav navbar-nav">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>Stationery</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item">
            <a href="@Url.Action("Index", "Stationeries")">
                <span>Stationery List</span>
            </a>
        </li>
        <li class="dropdown-item">
            <a href="@Url.Action("Create", "Stationeries")">
                <span>Add New Stationery</span>
            </a>
        </li>
    </ul>
</div>
<div class="dropdown nav navbar-nav">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>Requisition</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item">
            <a href="@Url.Action("Consolidated", "Requisitions")">
                <span>Consolidated Requisitions</span>
            </a>
        </li>
        <li class="dropdown-item">
            <a href="@Url.Action("RetrievalInProcess", "Requisitions")">
                <span>Retrieval List</span>
            </a>
        </li>
    </ul>
</div>
<div class="dropdown nav navbar-nav">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>Disbursement</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item">
            <a href="@Url.Action("Upcoming", "Disbursements")">
                <span>Upcoming Disbursements</span>
            </a>
        </li>
        <li class="dropdown-item">
            <a href="@Url.Action("History", "Disbursements")">
                <span>Disbursement History</span>
            </a>
        </li>
    </ul>
</div>
<div class="dropdown nav navbar-nav">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>P.O.</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item">
            <a href="@Url.Action("Summary", "PurchaseOrders")">
                <span>Summary</span>
            </a>
        </li>
        <li class="dropdown-item">
            <a href="@Url.Action("Create", "PurchaseOrders")">
                <span>Create P.O.</span>
            </a>
        </li>
        <li class="dropdown-item">
            <a href="@Url.Action("Receive", "PurchaseOrders")">
                <span>Receive Orders</span>
            </a>
        </li>
        <li class="dropdown-item">
            <a href="@Url.Action("Index", "PurchaseOrders")">
                <span>P.O. History</span>
            </a>
        </li>
    </ul>
</div>
<div class="dropdown nav navbar-nav">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>Adjustment</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item">
            <a href="@Url.Action("CreateAdjustments", "StockAdjustment")">
                <span>Request for Adjustments</span>
            </a>
        </li>
        <li class="dropdown-item">
            <a href="@Url.Action("History", "StockAdjustment")">
                <span>Adjustment History</span>
            </a>
        </li>
    </ul>
</div>
<div class="dropdown nav navbar-nav">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>Supplier</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item">
            <a href="@Url.Action("Index", "Suppliers")">
                <span>All Suppliers</span>
            </a>
        </li>
        <li class="dropdown-item">
            <a href="@Url.Action("Create", "Suppliers")">
                <span>Add New Supplier</span>
            </a>
        </li>
        <li class="dropdown-item">
            <a href="@Url.Action("Quotation", "Suppliers")">
                <span>Upload Quotations</span>
            </a>
        </li>
    </ul>
</div>