@using LUSSIS.Repositories
@{
    var empNum = Convert.ToInt32(Request.Cookies["Employee"]?["EmpNum"]);
    var isDelegate = new DelegateRepository().FindCurrentByEmpNum(empNum) != null;
}

@if (!isDelegate)
{
    @Html.ActionLink("Stationery", "Index", "Requisitions", null, new {@class = "nav-item nav-link btn btn-primary", style = "color:white"})
    @Html.ActionLink("My Requisitions", "MyRequisitions", "Requisitions", null, new {@class = "nav-item nav-link btn btn-primary", style = "color:white"})
}
else
{
    <div class="dropdown nav navbar-nav">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span>Requisition</span>
        </button>
        <ul class="dropdown-menu navbar-nav" aria-labelledby="dropdownMenu1">
            <li class="dropdown-item">
                <a href="@Url.Action("Pending", "Requisitions")">
                    <span>Pending Requisitions</span>
                </a>
            </li>
            <li class="dropdown-item">
                <a href="@Url.Action("All", "Requisitions")">
                    <span>All Requisitions</span>
                </a>
            </li>
        </ul>
    </div>
    <li class="nav-item">
        <a class="btn btn-primary" style="-webkit-appearance: none" type="button" aria-haspopup="true" aria-expanded="true" href="@Url.Action("DeptRep", "RepAndDelegate")">
            <span>Department Rep</span>
        </a>
    </li>
}