@using LUSSIS.Constants
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LUSSIS</title>
    <link rel="shortcut icon" href="@Url.Content("~/")favicon.ico" type="image/x-icon">
    <link rel="icon" href="@Url.Content("~/")favicon.ico" type="image/x-icon">
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <img src="~/Images/compass.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            @Html.ActionLink("LUSSIS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarResponsive" style="">
                <ul class="nav navbar-nav mr-auto">
                    @if (User.IsInRole(Role.DepartmentHead))
                    {
                        @Html.Partial("__DeptHeadMenu")
                    }
                    @if (User.IsInRole(Role.Clerk))
                    {
                        @Html.Partial("__ClerkMenu")
                    }
                    @if (User.IsInRole(Role.Manager) || User.IsInRole(Role.Supervisor))
                    {
                        @Html.Partial("__StoreSupMenu")
                    }
                    @if (User.IsInRole(Role.Representative))
                    {
                        @Html.Partial("__RepMenu")
                    }
                    @if (User.IsInRole(Role.Staff))
                    {
                        @Html.Partial("__DeptEmpMenu")
                    }
                </ul>

                <div class="nav navbar-nav ml-auto">@Html.Partial("_LoginPartial")</div>
            </div>

        </div>
    </nav>

    <div class="container">
        @RenderBody()

    </div>
    <div class="container">
        <footer class="text-muted footer">
            <hr />
            <p>&copy; @DateTime.Now.Year - LUSSIS By Sa45Team7</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/moment")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>

</body>
</html>
