@using LUSSIS.Constants
@using LUSSIS.Models.WebDTO
@using LUSSIS.Repositories

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        var name = Request.Cookies["Employee"]?["Name"];
        var cartQty = ((ShoppingCartDTO) Session["MyCart"]).GetCartItemCount();
        var empNum = Convert.ToInt32(Request.Cookies["Employee"]?["EmpNum"]);
        var isDelegate = new DelegateRepository().FindCurrentByEmpNum(empNum) != null;
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            @if ((User.IsInRole(Role.Staff) || User.IsInRole(Role.Representative)) && !isDelegate)
            {
                <li class="nav-item">
                    @Html.ActionLink("My Cart (" + cartQty + ")", "MyCart", "Requisitions", null, new {id = "cart-number", title = "Current Request", @class = "nav-item nav-link btn btn-primary"})
                </li>
            }
            <li class="nav-item">
                @Html.ActionLink("Welcome, " + name, "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage Account", @class = "nav-item nav-link btn btn-primary"})
            </li>
            <li class="nav-item">
                <a type="submit" class="nav-item nav-link btn btn-primary" href="#" id="log-off">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink", @class = "nav-link"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink", @class = "nav-link"})</li>
    </ul>
}

<script>
    $('#log-off').click(function() {
        $('#logoutForm').submit();
    })
</script>