@model PagedList.IPagedList<LUSSIS.Models.WebDTO.RetrievalItemDTO>
@using PagedList.Mvc;

<table id="long-table" class="table table-striped table-hover tablesorter">
    <thead>
    <tr class="table-active">
            <th scope="col">Bin Num</th>
            <th scope="col">Stationery</th>
            <th scope="col">UOM</th>
        <th scope="col">Requested Qty<span class="text-danger">*</span></th>
            <th scope="col">Available Qty</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.BinNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitOfMeasure)
                </td>

                <td>
                    @(item.RequestedQty + item.RemainingQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentQty)
                </td>

            </tr>
        }
    </tbody>

</table>
<small id="fileHelp" class="form-text text-muted text-right"><span class="text-danger">*</span>Unfullfilled Qty from previous disbursements has been added to Requested Qty</small>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page =>
    Url.Action("Consolidated",
        new { page, currentFilter = ViewBag.CurrentFilter }))