@model IEnumerable<LUSSIS.Models.WebDTO.CartDTO>
@{
    ViewBag.Title = "My Cart";
}

<h2>Requisition Cart</h2>
<hr/>

@if (Model.Count() != 0)
{
    <table class="table table-striped table-hover tablesorter" id="myTable">
        <thead>
        <tr class="table-active">
            <th>
                Stationery Item
            </th>
            <th>
                UOM
            </th>
            <th>
                Quantity
            </th>
            <th>
                Delete
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)

        {
            <tr id="row-@item.Stationery.ItemNum">
                <td>
                    @Html.DisplayFor(modelItem => item.Stationery.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stationery.UnitOfMeasure)
                </td>
                <td>
                    <div class="row">
                        <input type="number" class="Qty form-control form-control-sm col-md-6" data-id="@item.Stationery.ItemNum"
                               name="qty-@item.Stationery.ItemNum" min="1" max="1000" value="@item.Quantity" id="qty-@item.Stationery.ItemNum">
                    </div>
                </td>
                <td>
                    <input type="submit" value="Delete" id="btn-remove" class="RemoveLink btn btn-danger btn-sm" data-id="@item.Stationery.ItemNum"/>
                </td>
            </tr>
        }
        </tbody>
    </table>

    using (Html.BeginForm("SubmitReq", "Requisitions"))
    {
        <div class="row">
            <div class="form-group col-md-6">
                Remarks:<textarea class="form-control" rows="3" id="remarks" name="remarks"></textarea>
            </div>
            <div class="form-group col-md-6">
                <br/>
                <input type="submit" name="button" class="btn btn-success btn-lg btn-block" value="Submit Requisition" style="float: right;"/>
            </div>
        </div>
    }
}

else
{
    <div class="alert alert-dismissible alert-warning">
        <br/>
        <strong>Your cart is empty, please add items to cart</strong>
        <br/><br/>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(function() {
            $(".RemoveLink").click(function() {
                // Get the id from the link
                var itemNum = $(this).attr("data-id");
                if (itemNum !== '') {
                    // Perform the ajax post
                    $.post("@Url.Content("~/")Requisitions/DeleteCartItem",
                        { "id": itemNum },
                        function(count) {
                            $("#row-" + itemNum).remove();
                            $("a#cart-number").text("My Cart (" + count + ")");
                            if (count === 0) {
                                location.reload();
                            }
                        });
                }
            });
        });
        $(function() {
            $(".Qty").change(function() {
                var stationeryToUpdate = $(this).attr("data-id");
                var qty = $(this).val();

                if (qty <= 0) {
                    alert("Quantity should be more than 0");
                } else {
                    $.post("@Url.Content("~/")Requisitions/UpdateCartItem",
                        { "id": stationeryToUpdate, "qty": qty },
                        function(qty) {
                            $(this).val(qty);
                        });
                }

            });
        });
    </script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <link href="~/Content/sorter/style.css" rel="stylesheet" type="text/css"/>


    <script>
        $(document).ready(function() {
                $("#myTable").tablesorter({
                    headers: {
                        2: {
                            sorter: false
                        },
                        3: {
                            sorter: false
                        }
                    }
                });
            }
        );
    </script>
}

@*Authors: Cui Runze*@