@using LUSSIS.Constants
@model LUSSIS.Models.WebDTO.PurchaseOrderDTO

@{
    ViewBag.Title = "Details";
}

<h2>Purchase Order Details</h2>
<hr />
<div class="card border-dark bg-transparent col-lg-12 col-sm-12 col-md-12">

    <div class="card-body">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-12"><strong>P.O. Number</strong></label>
                    <div class="col-md-12">
                        <input class="form-control" type="number" value="@Model.PoNum" disabled name="PoNum" id="PoNum" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.HiddenFor(model => model.SupplierId)
                    <label class="control-label col-md-12"><strong>Supplier Name</strong></label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" value="@Model.Supplier.SupplierName" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12"><strong>Supplier Contact</strong></label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" value="@Model.SupplierContact" disabled />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-12"><strong>Created By</strong></label>
                    <div class="col-md-12">
                        @Html.HiddenFor(model => model.OrderEmpNum)
                        <input type="text" class="form-control" value="@Model.OrderEmployee.FullName" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12"><strong>Created On</strong></label>
                    <div class="col-md-12">
                        @Html.HiddenFor(model => model.CreateDate)
                        <input type="date" class="form-control" value="@Model.CreateDate.ToString("yyyy-MM-dd")" disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-12"><strong>Order Date</strong></label>
                    <div class="col-md-12">
                        @Html.HiddenFor(model => model.ApprovalDate)
                        <input type="date" class="form-control" value="@(Model.OrderDate == null ? "Order not placed" : Model.OrderDate.Value.ToString("yyyy-MM-dd"))" disabled name="OrderDate" />
                    </div>
                </div>
            </div> <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-12 text-primary"><strong>Status</strong></label>
                    <div class="col-md-12">
                        @if(Model.Status.Equals(POStatus.Approved))
                        {
                            <input type="text" class="form-control text-success" value="@Model.Status" disabled />
                        }
                        else if(Model.Status.Equals(POStatus.Rejected))
                        {
                            <input type="text" class="form-control text-danger" value="@Model.Status" disabled />
                        }
                        else if(Model.Status.Equals(POStatus.Pending))
                        {
                            <input type="text" class="form-control text-warning" value="@Model.Status" disabled />
                        }
                        else
                        {
                            <input type="text" class="form-control" value="@Model.Status" disabled />
                        }
                    </div>
                </div>
                @if (Model.ApprovalEmpNum != null)
                {
                    <div class="form-group">
                        <label class="control-label col-md-12"><strong>Approved By</strong></label>
                        <div class="col-md-12">
                            @Html.HiddenFor(model => model.ApprovalEmpNum)
                            <input type="text" class="form-control" value="@(Model.ApprovalEmployee == null ? "" : Model.ApprovalEmployee.FullName)" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-12"><strong>Approved On</strong></label>
                        <div class="col-md-12">
                            @Html.HiddenFor(model => model.ApprovalDate)
                            <input type="date" class="form-control" value="@(Model.ApprovalDate == null ? "" : Model.ApprovalDate.Value.ToString("yyyy-MM-dd"))" disabled />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


</div>      <br />

<table class="table table-striped table-hover tablesorter" id="myTable">
    <thead>
        <tr class="table-active">
            <th>No</th>
            <th>Product</th>
            <th>Item No</th>
            <th>Unit of Measure</th>
            <th>Unit Price</th>
            <th>Ordered Qty</th>
            <th>Total Price</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.PurchaseOrderDetails.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Model.PurchaseOrderDetails[i].Stationery.Description</td>
                <td>@Model.PurchaseOrderDetails[i].Stationery.ItemNum</td>
                <td>@Model.PurchaseOrderDetails[i].Stationery.UnitOfMeasure</td>
                <td>$ @Model.PurchaseOrderDetails[i].UnitPrice</td>
                <td>@Model.PurchaseOrderDetails[i].OrderQty</td>
                <td>$ @(Model.PurchaseOrderDetails[i].UnitPrice * Model.PurchaseOrderDetails[i].OrderQty)</td>
                <td>@(Model.PurchaseOrderDetails[i].ReceiveQty > 0 ? "Delivered" : "Not Delivered")</td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="text-right col-12">
        @if (Model.Status == POStatus.Approved && User.IsInRole(Role.Clerk))
        {
            @Html.ActionLink("Order", "Order", new { p = Model.PoNum }, new { @class = "btn btn-success btn-lg" })
        }
        @if (Model.Status == POStatus.Ordered)
        {
            @Html.ActionLink("Receive", "Receive", new { p = Model.PoNum }, new { @class = "btn btn-success btn-lg" })
        }

            @Html.ActionLink("View as PDF", "PrintPo", new { id = Model.PoNum }, new { @class = "btn btn-info btn-lg", target = "_blank" })

    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <link href="~/Content/sorter/style.css" rel="stylesheet" type="text/css" />
    <script>
        $(document).ready(function () {
            $("#myTable").tablesorter();
        }
        );
    </script>
    <script>
        var details=@Model.PoNum;

        $(document).on('change', '#PoNum', function () {
            if (confirm('Navigate from page?')) {
                var newLink = "@Url.Content("~/")PurchaseOrders/Details/" + $(this).val();
                window.location.replace(newLink);
            }
            else { $(this).val(details) }
        });
    </script>
}

@*Authors: Douglas Lee Kiat Hui*@