@model LUSSIS.Models.WebDTO.ReceiveTransDTO

@{
    ViewBag.Title = "Receive";
}

<h2>Purchase Order - Receive</h2>
<hr/>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

@if (@ViewBag.PurchaseOrder == null)
{
    if (ViewBag.OrderedPO == null || ViewBag.OrderedPO.Count == 0)
    {
        <div class="alert alert-dismissible alert-info">
            <span>There are no purchase orders awaiting for shipment</span>
        </div>
    }
    else
    {
        <h6 type="text" class="control-label col-md-12">Select a Purchase Order to update receipt of stationery</h6>

        <div class="col-md-12">
            <select id="select_PO" class="form-control">
                <option value="0">Select a purchase order</option>
                @foreach (var po in ViewBag.OrderedPO)
                {
                    <option value="@po.PoNum">
                        @po.PoNum - @po.Supplier.SupplierName
                    </option>
                }
            </select>
        </div>
    }
}
else
{
    using (Html.BeginForm())
    {
        @Html.Hidden("PoNum", (int) @ViewBag.PurchaseOrder.PoNum)

        @Html.AntiForgeryToken()

        <div class="card border-dark bg-transparent col-lg-12 col-sm-12 col-md-12">

            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-12">
                                <strong>Purchase Order Number</strong>
                            </label>
                            <div class="col-md-12">
                                <input class="form-control" type="number" value="@ViewBag.PurchaseOrder.PoNum" disabled name="PoNum" id="PoNum"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12">
                                <strong>Supplier Name</strong>
                            </label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@ViewBag.PurchaseOrder.Supplier.SupplierName" disabled/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12">
                                <strong>Supplier Contact Name</strong>
                            </label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@ViewBag.PurchaseOrder.SupplierContact" disabled/>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-12">
                                <strong>Delivery Order Number</strong>
                            </label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.DeliveryOrderNum, new {htmlAttributes = new {@class = "form-control", @required = true}})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12">
                                <strong>Invoice Number</strong>
                            </label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.InvoiceNum, new {htmlAttributes = new {@class = "form-control", @required = true}})
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-12">
                                <strong>Received Date</strong>
                            </label>
                            <div class="col-md-12">
                                <input type="date" class="form-control" name="ReceiveDate" id="ReceiveDate" value="@Model.ReceiveDate.ToString("yyyy-MM-dd")"/>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-12 text-primary">
                                <strong>Status</strong>
                            </label>
                            <div class="col-md-12">
                                <input type="text" class="form-control text-primary" value="@ViewBag.PurchaseOrder.Status" disabled/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12">
                                <strong>Approved By</strong>
                            </label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@ViewBag.PurchaseOrder.ApprovalEmployee.FullName" disabled/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12">
                                <strong>Approved On</strong>
                            </label>
                            <div class="col-md-12">
                                <input type="date" class="form-control" value="@ViewBag.PurchaseOrder.ApprovalDate.ToString("yyyy-MM-dd")" disabled/>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <br/>
        <table class="table table-hover table-striped">
            <tr class="table-active">
                <th>No</th>
                <th>Product</th>
                <th>UOM</th>
                <th>Ordered Qty</th>
                <th>Received Qty (Before)</th>
                <th>Received Qty (Now)</th>
            </tr>

            @if (ViewBag.PurchaseOrder != null)
            {
                for (int i = 0; i < ViewBag.PurchaseOrder.PurchaseOrderDetails.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@ViewBag.PurchaseOrder.PurchaseOrderDetails[i].Stationery.Description</td>
                        <td>@ViewBag.PurchaseOrder.PurchaseOrderDetails[i].Stationery.UnitOfMeasure</td>
                        <td>@ViewBag.PurchaseOrder.PurchaseOrderDetails[i].OrderQty</td>
                        <td>@ViewBag.PurchaseOrder.PurchaseOrderDetails[i].ReceiveQty</td>
                        <td>
                            @Html.HiddenFor(model => model.ReceiveTransDetails[i].ItemNum)
                            @Html.EditorFor(model => model.ReceiveTransDetails[i].Quantity, new {htmlAttributes = new {@class = "form-control", @min = "0"}})
                        </td>
                    </tr>
                }
            }
        </table>

        <div class="text-right">
            <input type="submit" value="Confirm Receive" class="btn btn-success btn-lg" style="width: 40%"/>
        </div>
    }
}

@section scripts
{
    <script>
        //redirect page if PO selected from no-PO page
        $(document).on('change',
            '#select_PO',
            function() {
                if ($(this).val() !== 0) {
                    var newLink = "@Url.Content("~/")PurchaseOrders/Receive?p=" + $(this).val();
                    window.location.replace(newLink);
                }
            });
    </script>
}

@*Authors: Douglas Lee Kiat Hui*@