@model LUSSIS.Models.WebDTO.RepAndDelegateDTO
@{
    ViewBag.Title = "Department Delegate";
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<h2>My Delegate</h2>
<hr/>
<div class="jumbotron">
    @if (Model.MyDelegate != null)
    {
        <h2 class="mt-4 mb-5 text-info">
            <strong>
                @Html.DisplayFor(model => model.MyDelegate.Employee.FullName)
            </strong>
        </h2>
        <h4 class="mb-5">@Html.DisplayFor(model => model.MyDelegate.StartDate) - @Html.DisplayFor(model => model.MyDelegate.EndDate)</h4>
        <h5 class="mt-4 mb-5 text-muted">
            @(Model.MyDelegate.StartDate > DateTime.Today ?
                  "Starting in " + (int) Model.MyDelegate.StartDate.Subtract(DateTime.Today).TotalDays + " day(s)" :
                  (Model.MyDelegate.EndDate == DateTime.Today ? "Ending Today" :
                      "Ending in " + (int) Model.MyDelegate.EndDate.Subtract(DateTime.Today).TotalDays + " day(s)"))
        </h5>
        using (Html.BeginForm("DeleteDelegate", "RepAndDelegate", FormMethod.Post))
        {
            <input type="submit" class="btn btn-success btn-lg" value="Revoke Delegate"/>
        }
        <br/>
    }
    else
    {
        <h2 class="mt-4 mb-5 text-info">
            <strong>You have not set any delegate at the moment</strong>
        </h2>

        <hr/>
        <h3 class="mt-4 mb-5">Set delegate:</h3>

        using (Html.BeginForm("AddDelegate", "RepAndDelegate", FormMethod.Post))
        {
            <h5>Select Date:</h5>
            <div class="row m-2 mb-5">
                <div class="col-lg-6">From &nbsp;<input type="text" id="from" name="from" onkeydown="return false" placeholder="DD/MM/YYYY" class="form-control d-inline"/></div>
                <div class="col-lg-6">To &nbsp;<input type="text" id="to" name="to" onkeydown="return false" placeholder="DD/MM/YYYY" class="form-control d-inline"/></div>
            </div>
            <h5>Find Employee:</h5>
            <div class="row m-2">
                <div class="col-lg-10">
                    <input id="Emp" type="text" placeholder="Type and Search Name" name="FullName" class="form-control d-inline"/>
                    <input id="Submit1" type="submit" value="Set New Delegate" class="btn btn-success form-control d-inline ml-3"/>
                    <input type="hidden" id="Emp2" name="DelegateEmp"/>
                </div>
            </div>
            <h5 id="tagsname" class="text-info m-3"></h5>
            <br/>
        }
    }
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#Submit1').prop('disabled', true);
            $('#from, #to').change(validate);
            $('#Emp').keyup(validate2);

            //$('#from, #to, #Emp').select(validate);
            function validate() {
                if ($('#from').val().length > 0 &&
                    $('#to').val().length > 0 &&
                    $('#Emp').val().length > 0) {
                    $("#Submit1").prop("disabled", false);
                } else {
                    $("#Submit1").prop("disabled", true);
                }
            };

            function validate2() {
                if ($('#from').val().length > 0 &&
                    $('#to').val().length > 0 &&
                    $('#Emp').val().length > 0) {
                    $("#Submit1").prop("disabled", false);
                } else {
                    $("#Submit1").prop("disabled", true);
                    $('#tagsname').html('You selected: none');
                }
            };

            var dateNow = new Date();
            var dateToday = moment(dateNow).format('DD/MM/YYYY');
            $(function() {
                from = $("#from")
                        .datepicker({
                            dateFormat: 'dd/mm/yy',
                            minDate: dateToday,
                            changeMonth: true,
                            numberOfMonths: 1
                        })
                        .on("change",
                            function() {
                                to.datepicker("option", "minDate", getDate(this));
                            }),
                    to = $("#to").datepicker({
                            dateFormat: 'dd/mm/yy',
                            changeMonth: true,
                            numberOfMonths: 1
                        })
                        .on("change",
                            function() {
                                from.datepicker("option", "maxDate", getDate(this));
                            });

                function getDate(element) {
                    var date;
                    try {
                        date = $.datepicker.parseDate("dd/mm/yy", element.value);
                    } catch (error) {
                        date = null;
                    }

                    return date;
                }
            });

            $("#Emp").autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: "@Url.Content("~/")RepAndDelegate/GetEmpForDelJson",
                        type: "GET",
                        dataType: "json",
                        data: { prefix: request.term },
                        success: function(data) {
                            response($.map(data,
                                function(item) {
                                    return { label: item.FullName, value: item.EmpNum };
                                }));
                        }
                    });
                },
                select: function(event, ui) {
                    event.preventDefault(); //default gives the value instead of label.
                    $('#Emp2').val(ui.item.value);
                    $(this).val(ui.item.label);
                    if (ui.item == null) {
                        $("#Emp").val('');
                        $('#tagsname').html('You selected: none');

                    } else {
                        $('#tagsname').html('You selected: ' + ui.item.label);
                    }
                },
                change: function(event, ui) {
                    if (ui.item == null) {
                        $("#Emp").val('');
                        $('#tagsname').html('You selected: none');
                        $('#Submit1').prop('disabled', true);
                    }
                },
                focus: function(event, ui) {
                    $(this).val(ui.item.label);
                    if (ui.item == null) {
                        $("#Emp").val('');
                        $('#tagsname').html('You selected: none');
                        $('#Submit1').prop('disabled', true);
                    }
                },
                close: function(event, ui) {
                    $(this).data().term = null;
                }
            });
        });
    </script>
}

@*Authors: Ong Xin Ying*@